.recommendation-container{
    text-align: center;
    padding: 50px 20px;
}

.recommendation-container h1{
    color: #2a742e;
    margin-bottom: 10px;
}

.recommendation-container p{
    color: #666;
    margin-bottom: 25px;
}

.recommendation-container select{
    padding: 12px;
    width: 250px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.recommendation-container button{
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #2a742e;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.recommendation-container button:hover{
    background-color: #215d24;
}

.recommendation-list{
    margin-top: 30px;
}

.recommendation-item{
    width: 300px;
    margin: 10px auto;
    padding: 15px;
    background-color: #f4fff4;
    border-left: 5px solid #2a742e;
    border-radius: 8px;
    font-weight: 500;
}