.nav-links a{
  text-decoration: none;
  color: white;
}

.nav-links a:hover{
  color: #c8e6c9;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #2a742e;
  color: white;
}

.navbar h2{
  font-size: 1.8rem;
}

.nav-links{
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links li{
  cursor: pointer;
  font-size: 1.1rem;
}

.nav-links li:hover{
  color: #c8e6c9;
}