* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.light-mode {
  background-color: white;
  color: black;
  min-height: 100vh;
}

.dark-mode {
  background-color: #121212;
  color: white;
  min-height: 100vh;
}